<div class="container">
    <h2>View Merchant</h2>
        <div class="row mt-4">
            <div class="col">Merchant Name</div>
            <div class="col">{{merchantForm.get('mrName').value}}</div>
        </div>
        <div class="row mt-4">
            <div class="col">Shop No</div>
            <div class="col">{{merchantForm.get('mrNo').value}}</div>
        </div>
        <div class="row mt-4">
            <div class="col">Merchant Addres</div>
            <div class="col">{{merchantForm.get('mrAddr').value}}</div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col">Merchant Contact</div>
            <div class="col">{{merchantForm.get('mrContact').value}}</div>
        </div>
</div>