<div class="container">
    <h2>Self Transfer</h2>
    <div class="row mt-4">
        <div class="col">From Account</div>
        <div class="col">
            <select [(ngModel)]="selectedFromAcc" name="fromAcc" class="form-select" (change)="loadToAccounts()">
                <option *ngFor="let acc of fromAccounts" >{{acc.bankName}} / {{acc.accNo}}</option>
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">Amount</div>
        <div class="col"><input type="text" class="form-control" name="txnAmount" [(ngModel)]="txnAmt"/></div>
    </div>
    <div class="row mt-4">
        <div class="col">To Account</div>
        <div class="col">
            <select [(ngModel)]="selectedToAcc" name="toAcc" class="form-select" >
                <option *ngFor="let acc of toAccounts">{{acc.bankName}} / {{acc.accNo}}</option>
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">Transaction Pin No</div>
        <div class="col"><input type="text" class="form-control" name="txnPin" [(ngModel)]="txnPin"/></div>
    </div>
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-success" (click)="transferAmount()">Send</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
    <div class="row">
        <div class="col">{{msg}}</div>
    </div>
</div>